/*ダークモード*/
:root {
  --bg-color: #ffffff;
  --text-color: #808080;
  --border-color: #808080;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1a1a1a;
    --text-color: #d1d1d1;
    --border-color: #444444;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/*テキスト設定*/
h1 {
  color: var(--text-color);
  text-align: center;
  font-family: "DotGothic16", sans-serif;
}

h2 {
  color: var(--text-color);
  text-align: center;
  font-family: sans-serif;
  font-size: 0.8rem;
  opacity: 0.5;
  margin-top: -2px;
}

h3 {
  color: var(--text-color);
  text-align: center;
  font-family: sans-serif;
  font-size: 0.8rem;
  color: #ff3000;
  margin-top: -13px;
}
#total-area {
  color: var(--text-color);
  text-align: center;
  font-family: sans-serif;
}

.group {
  color: var(--text-color);
  text-align: center;
  font-family: sans-serif;
}

.main-container {
  color: var(--text-color);
  text-align: center;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  font-family: sans-serif;
  color: var(--text-color);
}

.x-transport p {
  color: var(--text-color);
  font-family: sans-serif;
  font-size: 10px;
  margin-top: -1px;
}

.transport-summary p {
  font-family: sans-serif;
  color: var(--text-color);
}

.link a {
  color: var(--text-color);
  opacity: 0.5;
  font-family: sans-serif;
}

.link {
  text-align: center;
}

/*fn*/

/*キャラ選択タブ*/
.main-summary {
  font-size: 1.2rem;
  padding: 10px;
}

summary {
  list-style: none;
  cursor: pointer;
  user-select: none;
}
summary::-webkit-details-marker {
  display: none;
}

.main-box {
  margin-top: 10px;
  padding: 20px;
  border: 2px solid var(--border-color);
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.group {
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.group-summary {
  font-weight: bold;
  padding: 5px 0;
}

.group:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
/*fn*/

/*＋ボタン*/
.icon {
  display: inline-block;
  transition: all 0.3s ease;
  width: 1.5rem;
  text-align: center;
  transform-origin: center;
  transform: translateY(0px) rotate(0deg);
}

.transport-icon {
  display: inline-block;
  transition: all 0.3s ease;
  width: 1.5rem;
  text-align: center;
  transform-origin: center;
  transform: translateY(0px) rotate(0deg);
}

.main-container[open] .main-summary .icon {
  transform: translateY(0px) rotate(45deg);
}

.normal-group[open] summary .icon {
  transform: translateY(0px) rotate(45deg);
}

.collab-group[open] summary .icon {
  transform: translateY(0px) rotate(45deg);
}

.user-info[open] .info-summary .icon {
  transform: translateY(0px) rotate(45deg);
}

.normal-group[open] .summary .icon {
  transform: translateY(0px) rotate(45deg);
}

.collab-group[open] .summary .icon {
  transform: translateY(0px) rotate(45deg);
}

.share-details[open] .transport-summary .transport-icon {
  transform: translateY(0px) rotate(45deg);
}
/*fn*/

/*情報ボタン*/
.user-info {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  text-align: right;
}

.info-summary {
  list-style: none;
  cursor: pointer;
  background: #ff3000;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  margin-left: auto;
  outline: none;
}

.info-box {
  margin-top: 10px;
  padding: 15px;
  background: var(--bg-color);
  border: 2px solid var(--border-color);
  text-align: left;
  width: 200px;
  font-family: sans-serif;
  color: var(--text-color);
}

.info-box a {
  color: var(--text-color);
  text-decoration: underline;
  font-family: sans-serif;
}
/*fn*/

/*上昇ボタン*/
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  color: var(--bg-color);
  cursor: pointer;
  font-family: sans-serif;
  font-size: 20px;
  display: none;
  z-index: 999;
}
/*fn*/

/*共有*/
/*アイコン*/
.x-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: var(--bg-color);
  border-radius: 5px;
  transition: all 0.3s ease;
  overflow: hidden;
  text-decoration: none;
}

.x-logo:hover {
  transform: translateY(-5px);
}

.x-logo-a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: var(--bg-color);
  border-radius: 5px;
  transition: all 0.3s ease;
  overflow: hidden;
  text-decoration: none;
}

.x-logo-a:hover {
  transform: translateY(-5px);
}
/*fn*/

/*表紙*/
.transport-summary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 10px;
  cursor: pointer;
  color: var(--border-color);
  font-size: 1.2rem;
}

.transport-icon {
  margin-top: -33px;
  color: var(--text-color);
}
.transport-summary p {
  margin-top: -15px;
  color: var(--text-color);
}

.a-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}
/*fn*/

/*アイコンと字配置*/
.x-transport {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*fn*/
/*fn*/

/*ゴミ箱*/
.reset-btn {
  background: #808080;
  border: none;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  margin: 20px auto;
}

.reset-btn:hover {
  background: #ff3000;
}

.reset-btn:hover .trash-lid {
  transform: translateY(-5px) rotate(-30deg);
}

.trash-bin {
  width: 14px;
  height: 16px;
  position: relative;
  border: 2px solid #fff;
  border-top: none;
  border-radius: 0 0 2px 2px;
}

.trash-lid {
  width: 18px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: -4px;
  left: -2.05px;
  border-radius: 1px;
  transition: transform 0.2s ease;
  transform-origin: left center;
}

.trash-lid::before {
  content: "";
  width: 6px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: -3px;
  left: 6px;
  border-radius: 1px 1px 0 0;
}
/*fn*/
